@font-face {
    font-family: 'BerlinSansFB';
    src: url(assets/BerlinSansFBReg.ttf);
}

body {
    background-color: #1E88E5;
    margin: 0;
    padding: 0;
    font-family: 'BerlinSansFB', sans-serif;
    display: flex;
    flex-direction: column; /* Stack content vertically */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Center the play button */
#play-button {
    background-color: #fff;
    color: #1E88E5;
    border: none;
    padding: 20px 40px;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.top-panel {
    text-align: center;
    background-color: #EEF2FF;
    padding: 20px;
    border-radius: 50px; /* Rounded corners for the top panel */
}

.tpanel__container {
    display: flex;
    align-items: center;
}

#play-button:hover {
    background-color: #195fcb;
}

#video-container {
    display: none; /* Initially hide the video container */
}

#video {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    max-width: 100%;
    max-height: 80vh; /* Limit the video's height */
    border-radius: 10px;
    padding: 10px;
}