@font-face {
    font-family: 'BerlinSansFB';
    src: url(assets/BerlinSansFBReg.ttf);
}


html, head, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'BerlinSansFB', sans-serif; /* Custom font */
    overflow-y: hidden;
}


.left-panel {
    display: flex;
    margin:0;
    padding:0;
    background-color: #fff;
    height: 100vh;
    width: 40%;
    float: left;
    justify-content: center;
}

.right-panel {
    background-color: #EEF2FF;
    height: 100vh;
    width: 60%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
    padding: 0;
}

.lpanel__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 20%;
}

.rpanel__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 15%;
    margin: 0;
}


#name {
    color: #071228;
    font-size: 3.25rem;
    text-decoration: none;

    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: left;

    margin-right: 150px;
    margin-bottom: 40px;
}

img {
    margin-right: 10px;
    height: 35px;
}

img.heroLine {
    height:1.9vh;
    position: absolute;
    right: 223px;
    top: 445px;
}

h1 {
    margin: 0;
    padding: 0;
    color: #2e6aff;
    font-size: 6.5rem;
    font-weight: 100;
}

h2 {
    margin: 0;
    padding-bottom: 20px;
    text-align: left;
    color: #071228;
    font-size: 1.25rem;
    font-weight: 100;
}


p {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 2.2rem;
    width: 85%;
}


.form-box {
    display: flex;
    flex-direction: column;
}

.input-field__row {
    
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin-top: 0px;
    border-radius: 8px;

    max-height: 100px;
    transition: max-height .6s ease-in-out;
    overflow: hidden;    
}


.input-field {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin: 20px 0;

    max-height: 100px;
    transition: max-height .6s ease-in-out;
    overflow: hidden;
}


input {
    box-sizing: border-box;
    font-family: 'BerlinSansFB';
    font-weight: 100;
    font-size: 1.25rem;
    color: #071228;
    width: 100%;
    background: transparent;
    padding: 15px 15px;
    border-radius: 8px;
    border: 2px solid #071228;
}




.input-group__row {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;


}


select {
    font-family: 'BerlinSansFB';
    font-weight: 100;
    font-size: 1.25rem;
    width: 100%;
    background: transparent;
    border: 2px solid #071228;
    outline: 0;
    padding: 15px 15px;
    border-radius: 8px;

}

.btn-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-field button {
    flex-basis: 48%;
    background: #2e6aff;
    border: 0;
    color: #fff;
    cursor: pointer;
    outline: 0;
    border-radius: 8px;
    height: 60px;
    margin-top: 50px;
    font-family: 'BerlinSansFB', sans-serif;
    font-weight: 100;
    font-size: 1.25rem;
    transition: background 1s;
}

.btn-field button:hover {
    background: #2658d6;
}

.btn-field button.disable {
    background: lightgray;
    color: darkgray;
}

.btn-field button.disable:hover {
    background: rgb(187, 187, 187);
    color: rgb(145, 145, 145);
}

.input-field__row select.select {
    color: #071228;
}